body {
    margin: 0;
    font-family: "Lucida Grande";
    background-color: #ffffff;
    width: 100%;
}

.container2 {
    background-color: #FFFFFF;
    /* margin-top:10px; */
    /* margin-left:30px; */
    width: 100%;
}

.main-left-top {
    height: 50px;
}

.main-left-top ul li {
    float: right;
    margin: 45px 10px 15px 5px;
    text-decoration: none;
    display: inline;
}

.main-left-logo {
    float: left;
    margin: 3px 10px 15px 10px
}

.main-left-logo p {
    font-size: 30px;
    padding-left: 40px;
    font-family: Roboto;
    color: #383838;
}

.logo-perusahaan {
    color: #1363DF;
}

.main-left-top a {
    color: #251D3A;
    display: block;
    font-size: 13px;
    padding: 6px 6px;
    /* margin:5px; */
    text-decoration: none;
}

.main-left-top a:hover {
    background-color: #1363DF;
    padding: 6px 6px;
    color: #f7f7f7;
    border-radius: 10px;
}

.main-left-header {
    height: 500px;
    padding-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-left-header-left {
    padding-top: 80px;
    float: left;
    text-align: center;
}

.main-left-header-left h1 {
    font-size: 45px;
    text-align: left;
    color: #383838;
    padding-left: 40px;
}

.main-left-header-left p {
    font-size: 12px;
    text-align: left;
    color: #383838;
    padding-left: 40px;
    padding-top: 1px;
}

.main-left-header-left a {
    text-decoration: none;
    color: #f7f7f7;
}

.main-left-header-right {
    float: left;
    display: block;
    padding-top: 100px;
    background-image: url(image/komputer.jpeg);
    background-size: cover;
    margin-bottom: 80px;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.btn {
    padding: 18px 24px;
    color: rgb(245, 247, 244);
    display: inline-block;
    opacity: 0.8;
    border-radius: 30px;
}

.btn-start {
    background-color: #1363DF;
    margin-right: 10px;
}

.btn:hover {
    opacity: 1;
}

.partner {
    height: 250px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 40px;
    padding-bottom: 30px;
    color: #251D3A;
    font-weight: bolder;
}

.partner-list {
    grid-template-columns: repeat(5, 1fr);
    max-height: 806px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.partner-list {
    display: grid;
    grid-gap: 20px;
    margin: 0 auto;
}

.profile {
    height: 200px;
    padding-bottom: 20px;
    background-color: #ffffff;
    text-align: center;
}

.heading-profile {
    padding: 20px 40px;
    color: #251D3A;
    font-weight: bold;
    font-size: 32px;
}

.txt-contents {
    width: 40%;
    display: inline-block;
    font-size: 15px;
    color: #251D3A;
}


/* Task 4 From Wandi Pratama */

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 600px;
    background-color: rgba(202, 204, 207, 0.4);
}

* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 20px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer-container {
    background-color: #2D374D;
    width: 100%;
}

.footer-img {
    float: left;
    display: block;
    background-size: cover;
    margin-bottom: 80px;
    text-align: center;
    height: auto;
}

.footer-info-left {
    height: 500px;
    width: 100%;
    padding-top: 50;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-info-newleft {
    float: left;
    padding-left: 20px;
}

.font {
    color: white;
}

.size {
    font-size: 12px;
}

.footer-line {
    height: 5;
    width: 100;
    background-color: blue;
}