body {
    margin:0;
    font-family: "Lucida Grande";
    background-color: #C6DCE4;
    width:100%;
}

.container2 {
    background-color: #FFFFFF;
    margin-top:50px;
    width:70%;
}

.main-left-top{
    height:50px;
}

.main-left-top ul li{
    float:right;
   margin: 15px 10px 15px 10px;
    text-decoration: none;
    display: inline;
    
}

.main-left-top a{
    color:#251D3A;
    display: block;
    font-size: 13px;
    margin:5px;
    text-decoration: none;
}

.main-left-top  a:active{
   background-color: red;
    
}

.main-left-top  a:hover{
    background-color: #0AA1DD;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 255, 0, 0.1);
     
 }

 .main-left-header{
    height: 400px;
 }
 .main-left-header-left{
     padding-top:100px;
     width: 50%;
     text-align:center;
 }
 .main-left-header-right{
     width: 50%;
     url:img()
 }

 .partner{
    height: 250px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
    text-align: center;
 }

 .heading{
    padding-top: 40px;
    padding-bottom: 30px;
    color: #251D3A;
    font-weight: bolder;
 }

.partner-list {
    grid-template-columns: repeat(5, 1fr);
    max-height: 806px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.partner-list {
    display: grid;
    grid-gap: 20px;
    margin: 0 auto;
}

.profile{
    height: 200px;
    padding-bottom: 20px;
    background-color: #ffffff;
    text-align: center;
 }

 .heading-profile{
    padding: 20px 40px;
    color: #251D3A;
    font-weight: bold;
    font-size: 32px;
 }

 .txt-contents {
    width: 40%;
    display: inline-block;
    font-size: 15px;
    color: #251D3A;
  }
