body {
    margin:0;
    font-family: "Lucida Grande";
    background-color: #C6DCE4;
    width:100%;
}

.container2 {
    background-color: #FFFFFF;
    margin-top:50px;
    width:70%;
}

.main-left-top{
    height:50px;
}

.main-left-top ul li{
    float:right;
   margin: 15px 10px 15px 10px;
    text-decoration: none;
    display: inline;
    
}

.main-left-top a{
    color:#251D3A;
    display: block;
    font-size: 13px;
    margin:5px;
    text-decoration: none;
}

.main-left-top  a:active{
   background-color: red;
    
}

.main-left-top  a:hover{
    background-color: #0AA1DD;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 255, 0, 0.1);
     
 }

 .main-left-header{
    height: 400px;
 }
 .main-left-header-left{
     padding-top:100px;
     width: 50%;
     text-align:center;
 }
 .main-left-header-right{
     width: 50%;
     url:img()
 }